<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials :: head('Posts')"></head>
<body>
<div id="wrapper">
    <nav th:replace="partials/partials :: nav"></nav>
    <form method="post" action="/posts/create">
<!--        next time for form use th:action="@{/blogpost/create}" and th:method="POST"     -->
        <label for="title">Enter title</label>
        <input id="title" name="title" type="text" maxlength="255">
        <label for="description">Enter description</label>
        <input id="description" name="description" type="text" maxlength="255">
        <input type="submit" value="SUBMIT">
    </form>
    <footer th:replace="partials/partials :: footer"></footer>
</div>
<th:block th:replace="partials/partials :: scripts"></th:block>
</body>